/*------------------------------------------------------------------
    alert
-------------------------------------------------------------------*/


h1.main-heading {
    font-size: 80px;
    line-height: 70px;
    color: #EEE;
    text-shadow: 2px 2px 2px #000;
}

h3.main-summary {
    font-size: 35px;
    color: #EEE;
    font-weight: 300;
    text-shadow: 2px 2px 2px #000;
}

.follow-button {
    padding-left: 65px;
    text-transform: none;
    letter-spacing: 3px;
    font-weight: 500;
    position: relative;

    .large-icon {
        position: absolute;
        font-size: 25px;
        color: white;
        transition: 0.3s;

        position: absolute;
        left: 25px;
        top: 10px;        
    }
}

.follow-button:hover {
    background-color: white;
    color: black;

    .large-icon {
        color: black;
    }
}

.main-social-links {
    display:flex;
}
.social-text {
    color: #999;
    text-shadow: 1px 1px #222;
    margin-bottom: 10px;
    font-weight: 300;
    font-size: 14px;
}
.social-icon {
    font-size: 20px!important;
    margin-right: 5px;
    background-color: #222;
    border: 1px solid #EEE;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 50%;
    line-height: 40px;
    display: inline-block;

    color: #5a5a5a;
    font-size: 28px;
    transition: .3s;
    i {
        transition: color .3s;
        color: #CCC;
        
    }

  
    
}

.social-icon:hover {
    background-color: #FFF;

    i.fa-slack {
        color: #ECB22E;
    }
    i.fa-facebook-f {
        color: #3b5998;
    }
    i.fa-twitter {
        color: #00acee;
    }
    i.fa-instagram {
        color: #dd2a7b;
    }
    i.fa-linkedin-in {
        color: #0e76a8;
    }
    i.fa-medium-m {
        color: black;
    }
    i.fa-github {
        color: #CCC;
    }    
    i.fa-youtube {
        color: #c4302b;
    }  

}

.login-icon {
    border: 1px solid black;
    border-radius: 3px;
    line-height: 34px!important;
    margin: 12px 0!important;
    background-color: white!important;
    color: black;
    transition: .3s!important;
}

.login-icon:hover {
    background-color: black!important;
    color: white!important;
}

@media screen and (max-width: 767px) {
    .large-icon {
        bottom: 19px;
    }

    h3.main-summary {
        font-size: 25px!important;
    }
}


/* Blog posts */

.post-single {
    display: flex;
    height: 364px;


    .post-img {
        overflow: hidden;
    }
}
