/*------------------------------------------------------------------
    Blog listing
-------------------------------------------------------------------*/

.post-single {
    display: flex;
    height: 364px;


    .post-img {
        overflow: hidden;
    }
}


.blog-list-item {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
    flex-wrap: wrap;
    align-items: stretch;

    min-height: 360px;
    max-width:1180px;
    margin: auto;

    &.secondary {
        background-color: #222;
        h2,h3,h4 {
            color: white;
        }
        h2 {
            font-weight: 500!important;
        }
        h3,h4 {
            font-weight: 300!important;
        }
        .categories {
            color: white;
            a {
                font-weight: 400!important;
            }
        }
    
        @media screen and (max-width:767px) {
            
            flex-wrap: wrap-reverse!important;
            
          }
        


    }


  }


  .blog-image {
    flex: 2;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    min-height: 360px;

    @media screen and (max-width:767px) {
        flex-basis: 100%;
        
      }    

  }

  .blog-text {
    flex: 1;
    min-width: 316px;
    align-items: center;
    padding: 24px 40px;
    flex: 1 1 0;
    justify-content: flex-start;

    .title {
        h2 {
            font-size: 30px;
            font-weight: 600;
            //letter-spacing: 0px!important;
            line-height: 1.2em;
            letter-spacing: 0!important;
            margin: 20px 0!important;
        }
    }

    .summary {
        h3 {
            font-size: 16px!important;
            margin-bottom: 20px!important;
            letter-spacing: 0!important;
        }   
    }

    .author,.summary {
        h4 {
            font-size: 16px!important;
            margin-bottom: 0!important;
            font-weight: 600!important;
            letter-spacing: 0!important;
        }   
    }
    .author h4 {
        color: #da1c5c;
    }

    .categories {
        margin-top: 5px!important;
        color: #222;
        a {
            color: #da1c5c;
            font-weight: 600;
        }
    }

}


@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
/* styling paper */
.paper {
    width: 100%;
    position: relative;
    padding: 50px 0;
    margin: 0 80px;
    box-shadow: 0px 0px 5px 0px #888;

    @media screen and (max-width:900px) {
        margin: 0 10px!important;
    }
  }
  
  /* styling red vertical line */
  .paper::before {
    content: '';
    width: 2px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 40px;
    background-color: rgba(255,0,0,0.6);

    @media screen and (max-width:900px) {
        left: 30px!important;
    }
  }
  
  /* styling blue horizontal lines */
  .pattern {
    height: 100%;
    background-image: repeating-linear-gradient(white 0px, white 29px, teal 30px);
  }
  
  /* styling text content */
  .content {
    padding-top: 37px;
    padding-left: 70px;
    padding-right: 40px;
    line-height: 30px;
    font-family: 'Indie Flower', cursive;
    font-size: 18px;
    letter-spacing: 1px;
    word-spacing: 5px;
    font-weight: 600;

    @media screen and (max-width:900px) {
        padding-left: 40px!important;
        padding-right: 10px!important;
    }
  }

  .bold {
      font-weight: 600!important;
  }


