/*------------------------------------------------------------------
    Social links
-------------------------------------------------------------------*/

.main-social-links {
    display: flex;
    width: fit-content;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}

.logo-brand {
    margin-right: 10px!important;
}

.social-icon {
    font-size: 16px!important;
    margin: 10px 3px;
    padding: 0!important;
    border: 1px solid #666;
    background-color: #222;
    width:35px;
    height: 35px;
    text-align: center;
    border-radius: 50%;
    line-height: 33px;
    display: inline-block;

    color: #CCC;
    transition: .3s;
    i {
        transition: color .3s;
        color: #CCC;
        
    }

    
    
}

.social-icon:hover {
    background-color: #FFF;

    i.fa-slack {
        color: #ECB22E;
    }
    i.fa-facebook-f {
        color: #3b5998;
    }
    i.fa-twitter {
        color: #00acee;
    }
    i.fa-instagram {
        color: #dd2a7b;
    }
    i.fa-linkedin-in {
        color: #0e76a8;
    }
    i.fa-medium-m {
        color: black;
    }
    i.fa-github {
        color: black;
    }    
    i.fa-youtube {
        color: #c4302b;
    }  

}